@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

a { text-decoration: none; }
input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }


body {
    position: relative;
    font-family: Poppins
}

.container-fluid {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2c2c2c;
}
.mainArea {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #B0AEAE;
  width: 92%;
  height: 90%;
}
.mainArea .chatArea {
  width: 100%;
  height: 86%;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: 0.6rem;
}
.mainArea .chatArea .chatType {
  position: fixed;
  text-align: right;
  top: 0.8rem;
  right: 1.6rem;
  padding: 5px 8px;
  border-radius: 0.6rem;
  background-color: whitesmoke;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 10;
  border: #ffef62 2px solid;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.149);
}
.mainArea .chatArea .chatType p {
  margin: 0px;
}
.mainArea .chatArea .chatType .usName {
  text-align: right;
  font-size: 0.6rem;
  color: #707070;
}
.mainArea .chatArea .chatType .usName .mnName {
  color: #2b2b2b;
  font-weight: 700;
}
.mainArea .chatArea .displayChats {
  color: black;
  border-radius: 0.6rem;
  background: #d9d9d9;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
.mainArea .chatArea .displayChats .chatDiv {
  display: block;
  font-size: 0.6rem;
  color: #707070;
  text-align: center;
  width: 100%;
}
.mainArea .chatArea .displayChats .chatDiv::After {
  content: "⎯⎯⎯⎯⎯ ⌾⎯⎯⎯⎯⎯";
}
.mainArea .chatArea .displayChats .chatDiv::Before {
  content: " ";
}
.mainArea .chatArea .displayChats .chatCnt {
  overflow-wrap: break-word;
  margin: 10px;
  max-width: 80vw;
  height: auto;
  width: auto;
}
.mainArea .chatArea .displayChats .chatCnt .chatTxt {
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.149);
  background-color: whitesmoke;
  border-radius: 0.6rem 0.6rem 0.6rem 0px;
  padding: 12px;
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;
  max-width: 80vw;
  overflow-wrap: break-word;
}
.mainArea .chatArea .displayChats .chatCnt .chatTxt p {
  margin: 0px;
}
.mainArea .chatArea .displayChats .chatCnt .nameNdate {
  padding: 5px 12px;
  font-size: 0.6rem;
  font-weight: 600;
}
.mainArea .typeArea {
  padding-top: 2vh;
  width: 100%;
  height: 10%;
  border-radius: 0.6rem;
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

#uname{
  text-align: right;
}
.web-input{
  text-align: right;
  /* width: 20%; */
}
.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 92%;
  margin: 0 auto;
  border-radius: 0.6rem;
  padding: 0.4rem 1rem 0.6rem;
  background: rgba(124, 122, 106, 0.647);
}
.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 1%;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 3px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-position: 0% 0%;
  width: 98%;
  background: linear-gradient(to right, #ffef62, rgba(124, 122, 106, 0.647), #cabd44, #f1e149);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}
.webflow-style-input input {
  flex-grow: 1;
  color: #f1e149;
  font-size: 1.2rem;
  line-height: 1.5rem;
  vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #cabd44;
}
.webflow-style-input button {
  color: #cabd44;
  font-size: 1.6rem;
  line-height: 1.5rem;
  padding-left: 5%;
  vertical-align: middle;
  transition: color 0.25s;
}
.webflow-style-input button:hover {
  color: #f1e149;
}
